/* App.css */

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
  }
  
  .App {
    text-align: center;
    padding: 20px;
  }
  
  header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  button {
    background-color: #61dafb;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #21a1f1;
  }
  
  .login-page {
    text-align: center;
    margin-top: 100px;
  }
  
  .login-page h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .login-page button {
    padding: 10px 20px;
    font-size: 1em;
  }